*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: YoungSerif-Regular;
    src: url(../assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
    font-family: Outfit;
    src: url(../assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

:root{
    --Nutmeg: hsl(14, 45%, 36%);
    --DarkRaspberry: hsl(332, 51%, 32%);

    --white: hsl(0, 0%, 100%);
    --roseWhite: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --LightGrey: hsl(30, 18%, 87%);
    --WebgeBrowb: hsl(30, 10%, 34%);
    --DarkCharcoal: hsl(24, 5%, 18%);

    /* Fonts */
    --YoungSerif: YoungSerif-Regular;
    --Outfit: Outfit;
}


body{
    background-color: var(--Eggshell);
}

.container-project{
    background-color: var(--white);
    width: 60vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border-radius: 20px;
    margin-top: 50%;
}

img{
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
}

.container-project>p{
    font-family: var(--Outfit);
    font-weight: 250;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.first-list__style{
    background-color: var(--roseWhite);
    border-radius: 15px;
    padding: 20px;
}

.first-list__style>h3{ 
    color: var(--DarkRaspberry);
    font-family: var(--Outfit);
    margin-bottom: 15px;
    letter-spacing: 1px;
}

ul{
    margin-left: 16px;
    font-family: var(--Outfit);
    color: var(--WebgeBrowb);
    letter-spacing: 1px;
}

ul>li{
    margin-bottom: 15px;
}


.second-list__style{
    margin-top: 25px;
    margin-bottom: 20px;
}

h1{
    font-family: var(--YoungSerif);
    letter-spacing: 1px;
    font-size: 1.8rem;
    font-weight: 200;
    color: var(--Nutmeg);
    margin-bottom: 20px;
    margin-top: 10px;
}

hr{
    border-color: var(--Nutmeg);
    border-width: 1px;
    outline: none;
    border-style: solid;
}

.third-list__style{
    margin-top: 25px;
    margin-bottom: 20px;
}


ol{
    margin-left: 16px;
    font-family: var(--Outfit);
    color: var(--WebgeBrowb);
    letter-spacing: 1px;
}

ol>li{
    margin-bottom: 15px;
    list-style-type: var(--DarkCharcoal);
}

li::marker{
    color: var(--DarkRaspberry);
    font-weight: 600;
}


.fourth-table__style>p{
    font-family: var(--Outfit);
    color: var(--Nutmeg);
    margin-bottom: 20px;
}

table{
    width: 100%;
}

table,tr, td{
    border-bottom: 1px solid var(--Nutmeg);
    border-collapse: collapse;
    padding: 15px;
}


td:nth-of-type(odd){
    color: var(--DarkRaspberry);
    font-family: var(--Outfit);
    font-weight: 400;
}

td:nth-of-type(even){
    color: var(--DarkRaspberry);
    font-family: var(--Outfit);
    font-weight: 600;
}

.attribution {
    font-size: 1rem;
    text-align: center;
    font-family: var(--Outfit);
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }